minicli
aiowsgi
http_session_file
-e git+ssh://git@github.com/HorsemanWSGI/horseman.git@1.0#egg=horseman
-e git+ssh://git@github.com/HorsemanWSGI/knappe.git#egg=knappe
-e git+ssh://git@github.com/HorsemanWSGI/knappe_deform.git#egg=knappe_deform
-e git+ssh://git@github.com/novareto/jsonschema_colander.git#egg=jsonschema_colander
-e src/reha[test]
